## **Base Input Output**

In [ ]:
print('Hello World')

Hello World

## **Data Type : Basic Operation**

In [ ]:
# Numeric Operators
print(1)
print(1+1)
print(2.3*2) 
print(2**3) # Exponent
print(2%2) 
print(2//2) # Division
print(3.5, '\n')

# Comparison Operators
print(1>2)
print(2<10)
print(10>=10)
print(10==1, '\n')

# Logical Operators
print(True and True)
print(True and False)

1
2
4.6
8
0
1
3.5

False
True
True
False

True
False

## **Data Type : Error**

In [ ]:
print("1"+ 1)

TypeError: ignored

## **Data Type : Casting**

In [ ]:
print(int(1) , int(2.8) , int("3"))

1 2 3

## **Data Type : Checking Type**

In [ ]:
print(isinstance(1, int), isinstance("Hello World", str), isinstance(2.2, float))
print(type(1), type("Hello World"), type(2.2))

True True True
<class 'int'> <class 'str'> <class 'float'>

## **Comments**

In [ ]:
# print("Halo Dunia") // Single Line Comment
print("Hello World")

""" Multi Line Comment

Ini Adalah
Sebuah Komen
"""

print("Hello, World!")

Hello World
Hello, World!

## **Variables**

In [ ]:
a = 1
b = 2
print(a+b)

3

## **Variables Assignment**

In [ ]:
a = 1
b = 2

print("Sebelum Dirubah :", a, b)

a = 2
b = 3
print("Setelah Dirubah :", a, b, '\n')

c = """
Baris String :
AAAAAAAAAA
BBBBBBBBBB
CCCCCCCCCC
DDDDDDDDDD
"""
print(c)

Sebelum Dirubah : 1 2
Setelah Dirubah : 2 3


Baris String :
AAAAAAAAAA
BBBBBBBBBB
CCCCCCCCCC
DDDDDDDDDD

In [ ]:
print("Umur: ", end=' ')
age = input()
print("Tinggi: ", end=' ')
height = input()
print("Berat: ", end=' ')
weight = input()

print(f"Umur: {age}, Tinggi : {height} dan Berat : {weight}.")

Umur:  10
Tinggi:  20
Berat:  40
Umur: 10, Tinggi : 20 dan Berat : 40.

## **Variables - Assignment Operators**

In [ ]:
a = 1
a += 1

b = 2
b -= 2

c = 1
c *= 3

print(a, b, c)

2 0 3

## **Variables Mass Assignment**

In [ ]:
x, y, z = "Kurniadi", "Ahmad", "Wijaya"
print(x, y, z)

Kurniadi Ahmad Wijaya

In [ ]:
x = y = z = "Kurniadi"
print(x, y, z)

Kurniadi Kurniadi Kurniadi

## **Variables : Numeric Assignment Inside String**

In [ ]:
jumlah = 3
harga = 20000
order = "{} Apel Seharga {}"
print(order.format(jumlah, harga))

3 Apel Seharga 20000

In [ ]:
jumlah = 3
harga = 20000
print(f"{jumlah} Apel seharga {harga}")

3 Apel seharga 20000

## **Conditional**

In [ ]:
a = 100
b = 200

if a > b:
  print(True)
else:
  print(False)

False

In [ ]:
a = 10 
b = 10

if a > b:
  print('a lebih besar')
elif a == b:
  print('a sama dengan b')
else:
  print('a lebih kecil')

a sama dengan b

## **Looping**

In [ ]:
i = 0

while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1, 10):
  if i % 2 == 0:
    print(i)

2
4
6
8